.carousel {
    margin: 2% 5% 0% 5%;
    overflow: hidden;
    text-align: center;
  }
  
  .slides {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  
  .slides::-webkit-scrollbar {
    display: none;
  }
  
  .slides-item {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    font-size: 100px;
    justify-content: center;
    margin: 0 1rem;
    position: relative;
    scroll-snap-align: start;
    transform: scale(1);
    transform-origin: center center;
    transition: transform .5s;
    width: 70%;
  }
  
  .carousel-nav {
    padding: 1.25rem .5rem;
  }
  
  .slider-nav {
    align-items: center;
    background-color: #ddd;
    border-radius: 50%;
    color: #000;
    display: inline-flex;
    height: 0.1rem;
    justify-content: center;
    padding: .3rem;
    position: relative;
    text-decoration: none;
    width: 0.1rem;
    margin: 0px 5px;
  }
  
  .slider-nav:hover,
  .slider-nav:active {
    background-color: #000;
    color: #fff;
  }
  