.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar div {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar div.active {
    background-color: darkgoldenrod;
    color: white;
  }
  
  .sidebar div:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    min-height: 60vh;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar div {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar div {
      text-align: center;
      float: none;
    }
  }

  .remove{
    text-align: center;
    font-weight: bold;
    font-size: small;
  }